[Unit]
Description=wayremap on startup with 10 seconds delay

[Service]
Type=oneshot
ExecStart=/usr/bin/python /etc/wayremap.py
ExecStartPre=/bin/sleep 10
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target
