[Unit]
Description=wayremap on startup

[Service]
Type=simple
ExecStart=/usr/bin/python /etc/wayremap.config.py
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=no
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
